body{
    width: 400px;
}
p.heading{
    font-family: 'Asul', sans-serif;
    font-size: 1.5rem;
    text-decoration: dashed;
}
div.neuro{
    background: #ffffff;
    box-shadow: inset 5px 5px 29px #e0e0e0, 
            inset -5px -5px 29px #ffffff;

    height: 400px;
}
.custombtn1{
    background-color: #FF4500;
    border-color: #FF4500;
    color: #ffffff;
    padding: 4px;
    border-color: #FF4500;
    border-radius: 5px;
}
.custombtn2{
    background-color: #ffffff;
    color:#FF4500;
    padding: 4px;
    border-color: #ffffff;
    border-radius: 5px;

}
.github , .stackoverflow , .list{
    font-family: 'Asul', sans-serif;
    font-size: 18px;
}

button:active, 
button:focus 
{
    border-color: #FF4500;
 }